html, body { height: 100%; }

body {
    background: linear-gradient(100deg, brown, tan, lightgreen, green, darkgreen, black);
}

/*Adjustments for screens < 400px*/
@media screen and (max-width: 400px) {
  
img {
  width: 100%;
}
.links{
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 25px;
}
}